{% extends 'comercio/base.html' %}

{% block listado_productos %}

<section>
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase" style="color:blue">Somos SID Soluciones gráficas!</h1>
            <h3 class="section-subheading text-muted">Nuestro emprendimiento mezcla creatividad y personalización al máximo. </h3>
            <h3 class="section-subheading text-muted">Realizamos todo tipo de estampados, sublimaciones, impresiones y diseños. </h3>
            <p class="section-subheading text-muted">Ingresá para conocer nuestros servicios! </p>
        </div>                
    </div>
</section>

{% endblock listado_productos %}